# See https://help.github.com/ignore-files/ for more about ignoring files.

# Custom Folder Ignore
/home/rutu/Guided_Projects/Covid-19-Detection-with-Chest-X-Ray-using-PyTorch/archive

# Ignore Filename Extensions
*.pyc
*.ckpt
*.pth
*.png

# VSCode
.vscode/*
.vs/*
*.code-workspace
